.InviteHeader {
    height: 100px;
}

.InviteCharacterContainer {
    width: 300px;
    margin: auto;
}

.InviteCharacterImage {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
}
