.InviteSlider {
    width: 400px;
    flex: 1;
}

.InviteGuide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    flex: 1;
}


.slick-dots li button::before {
    color: #fff;
    opacity: 0.7;
  }

.slick-dots li.slick-active button::before {
    color: #fff;
    opacity: 1;
}

.InviteCharacterContainer {
    width: 300px;
    margin: auto;
}

.InviteCharacterParams {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.InviteCharacterImage {
    margin-top: -60px;
    width: 300px;
}

.InviteCharacterLV {
    font-family: Georgia;
    font-size: 2rem;
}
