.App {
    text-align: center;
    background: url('/background.jpg');
    height: 100%;
}

.app-shadow {
    background: linear-gradient(to bottom, #0D47A0, #0D47A000);
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-title-container {
    background: url('/title-frame.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.app-title {
    margin-top: 30px;
    font-size: 1.2rem;
}

.app-guide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0006;
    width: 100%;
    height: 60px;
    margin: auto;
}
